.table8 {
	font-size:small;
	background: #ffffff;
	border-collapse:collapse;
	width:100%;
	background: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 6px;
}
.table8 caption.cp1 {
	font-weight: bold;
}
.table8 tr.alt1 {
	background: #e6e6e6;
}
.table8 tr.alt2 {
	background-color: #f1f1f1;
}
.table8 th, .table8 td {
	margin: 0;
	text-align: center;
	text-transform: capitalize;
	text-weight: bold;
	padding: 3px;
}
.table8 td a {
	font-weight: bold;
	display: inline;
}
