@charset "utf-8";
/* f0.php */
/* 参考*/
#livetip {
	position: absolute;
	background-color: #cfc;
	border: 2px solid #c9c;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
a.contact {}
a.help1 {}
a.help2 {}
a.chinese {}
a.english {}
#logo {
	margin: 30px auto 40px auto;
}
.sitemap {}
#header {
	margin-top: 20px;
}
#search {
	margin: 20px;
}
#list {
	margin-top: 20px;
	margin-bottom: 10px;
}
#footer p {
	margin-top: 20px;
}
form div.alert {
    margin: 10px auto 15px;
}
#signup h3, #login h3, #contact h3 {
    font-size: 18px;
    line-height: 27px;
}
#contact form {
	margin-bottom:0;
}
#contact .control-label {
	width:80px;
}
#contact input, #contact textarea {
	width: 300px;
}