@charset "utf-8";
/* CSS Document */
.span6 {
	width:450px;
	margin-top:20px;
}
#header {
	margin: auto;
}
.table {
	font-size:small;
	background: #ffffff;
	border-collapse:collapse;
	width:100%;
	border: 1px solid #cdcdcd;
	background: #fff;
	top: -4px;
	left: -4px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-bottom: 10px;
	padding-top: 6px;
	margin-top:20px;
}
.table tr:odd {
 background: #e6e6e6;
}
.table tr:even {
 background-color: #f1f1f1;
}
.table th, .table td {
	margin: 0;
	text-align: center;
	text-transform: capitalize;
	text-weight: bold;
	padding: 3px;
}
#news div {
	font-size:12px;
	font-family:arial
}
#news .baidu {
	font-size:14px;
	line-height:24px;
	font-family:arial
}
#news a, #news a:link {
	color:#0000cc;
}
#news .baidu span {
	color:#6f6f6f;
	font-size:12px
}
#news a.more {
	color:#008000;
}
#news a.blk {
	color:#000;
	font-weight:bold;
}
/*rotator标题效果*/
.rss .span3 {
	border-color: #C8D8F2;
	border-style: solid;
	border-width: 1px;
}
.rss .span3 h3 {
	background-color: #F5F8FD;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	font-weight:bolder;
	color: #A90000;
	text-decoration: none;
	padding-left: 4px;
	padding-bottom:4px;
}
.rss .span h3:hover {
	color: #FF0000;
	text-decoration: underline;
}
#guanggao, .guanggao {
	margin:20px;
}
.container111 {
	margin-left:20px;
	width: 100%;
}
.pk {
	float: right;
	margin-right: 10px;
	padding-right: 10px;
}
.pk a {
	color: #c74b15;
	font-size: 18px;
	font-weight: bolder;
}
#form_fayan div.controls {
	margin-left: 10px;
}
.loadPic {
	width:32px;
	height:32px;
	background:url(../images/loadPic.gif) no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-16px;
	margin-left:-16px;
	line-height:999em;
	display:block;
	overflow:hidden;
}
.ticker-wrapper.has-js {
    margin-top: 0px !important;
	margin-bottom: 10px !important;
}
#sleft {
}
#toggle {
	float:right;
	width: 20px;
}
#toggle span {
    background: url("http://soso.qstatic.com/30d/img/web/soso_sp13.png") no-repeat scroll 0 0 transparent;
    background-position: 0px -139px;
    cursor: pointer;
    display: block;
    height: 179px;
    margin-top: 78px;
    overflow: hidden;
    width: 15px;
	position:absolute;
}
#toggle span.close1 {
    background-position: -16px -139px;
}
.sosospan {
	width:10px !important;
	margin-left:0px;
	position:relative;
}
.selected {
    position: relative;
}
.hLight {
    background-color: #EFF3F8;
    border: 1px solid #CEDBEE;
    display: none;
    height: 100%;
    width: 100%;
    left: -3px;
    top: -3px;
    padding: 3px;
    position: absolute;
    z-index: 10;
}
.selected .hLight {
    display: none;
}
#smiddle .iPre {
    color: #666666;
    cursor: pointer;
    padding: 1px 2px 0;
    text-decoration: none;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    margin: 0;
    margin-left: 5px;
    padding: 0 0 0 8px;
    height: auto;
    min-height: 34px;
    position: absolute;
    right: -35px;
    top: -1px;
    width: 29px;
}
#smiddle .preview {
	position: relative;
}
#smiddle .iPreBox, #smiddle .iPreArr, #prevshow .close {
    background: url("http://soso.qstatic.com/30d/img/web/preview_iconBg8.png") repeat-y scroll 0 0 transparent;
}
#smiddle .iPreBox {
    background-position: 0 0;
    border: 1px solid #CBDCE6;
    display: block;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 27px;

    background-position: -30px 0;
    border-color: #C2D4E2 -moz-use-text-color #C2D4E2 #C2D4E2;
    border-right: 0 none;
    width: 25px;
    z-index: 101;
}
#smiddle .iPreArr {
    background-position: -60px 0;
    background-repeat: no-repeat;
    height: 15px;
    left: 9px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 10px;
    background-position: -75px 0;
}
div.comment {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border: 1px solid #D2E1F1;
	vertical-align:middle;
	float:right;
	max-width: 70px;
	max-height: 70px;
	text-align: center;
	padding: 3px 2px 3px 2px;
	margin: 0px 8px 4px 4px;
	z-index: 20;
	visibility: hidden;
}
div.comment a {
	/*background-color: #F5F8FD;*/
	color: #A90000;
	font-family: "微软雅黑", "黑体";
	font-size: 12px;
	margin: auto;
	padding: 1px 0 0;
}
div.comment a:hover {
	box-shadow: 2px 2px 2px #888888;
	text-decoration: underline;
}
div.comment a:active {
	background: none repeat scroll 0 0 #BBBBBB;
}
