@charset "utf-8";
/* CSS Document */
.form-horizontal .controls {
	margin-left:0;
}

/* from: http://hi.baidu.com/new/fkuvssgtajfluxe. */
.box4 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E7E5E6;
	box-shadow: 2px 2px 10px #E7E5E6;
	margin: 10px 0;
	padding: 0 auto;
	position: relative;
}