@charset "utf-8";
/* stackoverflow.com: a button*/
.display_content {
	margin-top:20px;
}
a.post-tag:hover {
	background-color: #3E6D8E;
	border-bottom: 1px solid #37607D;
	border-right: 1px solid #37607D;
	color: #E0EAF1;
	text-decoration: none;
}
#pinglun {
	margin-top:20px;
}
.post-tag {
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3E6D8E;
	font-size: 90%;
	line-height: 2.4;
	margin: 2px 2px 2px 0;
	padding: 3px 4px;
	text-decoration: none;
	white-space: nowrap;
}
.titlefoot {
    color: #055298;
    display: block;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
}
.titlefoot a {
    color: #055298;
}
.titlefoot .fonts {
    background: url(../images//content_li.gif) no-repeat scroll 0 0 transparent;
    color: #055298;
    float: right;
    text-align: right;
    width: 115px;
}
.titlefoot a.print {
    background: url(../images//print.gif) no-repeat scroll 0 0 transparent;
    color: #055298;
    float: right;
    text-align: center;
    text-indent: 15px;
    width: 59px;
}
.titlefoot a.url {
    background: url(../images//url.gif) no-repeat scroll 0 0 transparent;
    color: #055298;
    float: right;
    text-align: center;
    text-indent: 18px;
    width: 83px;
}
.titlefoot a.bbs {
    background: url(../images//discus.gif) no-repeat scroll 6px 0 transparent;
    color: #055298;
    float: right;
    font-weight: 700;
    text-align: center;
    text-indent: 15px;
    width: 152px;
}
.titlefoot a.bbs span {
    color: #CC0000;
}
