<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 box5"> {$info} </div>
    <div class="span8 box5" id="item_display" style="display:none;"> </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('ul.nav>li>a').click(function(e) {
		e.preventDefault();
		$('#item_display').html('');
		
		var h = $(this).attr('href');
		t = '<a href="' + h + '">' + $(this).text() + '</a>';
		$('<h2></h2>').html(t).prependTo('#item_display');
		
		$.get(h+'&js_get_content=1', function(data) {
			$(data).appendTo('#item_display');
			$('#item_display').hide().fadeIn(200);
		});
		return false;
	});
});
</script>
