<div class="row span12">
  <div id="search" class="span4 box5"> {include file="{$t2}nav.tpl.html"} </div>
  <div class="span8" style="width:580px">
    <div id="div_display" class="box5"></div>
    {include file="{$t3}weibo.tpl.html"}
    {include file="{$t2}news.tpl.html"}
    {include file="{$t3}reping.tpl.html"} 
    {include file="{$t2}pk.tpl.html"} </div>
</div>
<script type="text/javascript">
$(function() {
	$('li.li3 a').live('click', function(e) {
		$t = $(this);
		$('{$config.wait}').insertAfter(this);

		$('#div_display').load($(this).attr('href'), function() {
			$(this).fadeIn(200);
			$('li.li3').removeClass('highlight');
			$t.parent('li.li3').addClass('highlight');
			$t.next('img').remove();
		});
		return false;
	});
	$('div.pagination a').live('click', function(e) {
		$(this).html('{$config.wait}');
		e.preventDefault();
		var url = $(this).attr('href');
		if (! /js_page=/.test(url)) url+='&js_page=_';
		$.ajax({
			type: 'get',
			url: url,
			success: function(data) {
				$('div#search').hide().html(data).fadeIn(200);
			}
		});
		return false;
	});
});
</script>
