{$sort=$smarty.session.fmxw.search.sort}
{if $smarty.get.page}
{$page=$smarty.get.page}
{else}
{$page=1}
{/if}
{$no=1+({$page}-1)*10}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  查询：&lt;<strong>{$smarty.session.fmxw.search.key}</strong>&gt;,
  匹配总数：&lt;<strong>{$smarty.session.fmxw.search.total_found}</strong>&gt;,
  页数：&lt;<strong>{$smarty.session.fmxw.search.page}/{$smarty.session.fmxw.search.total_pages}</strong>&gt;,
  用时：&lt;<strong>{$smarty.session.fmxw.search.time}</strong>&gt;秒。</div>
{include file="{$config.t6}pagination.tpl.html"}
<ul class="nav nav-pills nav-stacked">
  {foreach $results as $rts}
  <li class="li3" id="{$rts.cid}"><span class="badge badge-warning">{$no++}</span> <a alt="{$rts.url}" href="{$config.ag}?cid={$rts.cid}&jsc=1" rel="address:{$config.ag}?cid={$rts.cid}&jsc=1">{$rts.title} -<i>{$rts.date}</i></a> {if {$sort=='clicks'}}({$rts.clicks})
    {elseif {$sort=='guanzhu'}} ({$rts.guanzhu})
    {elseif {$sort=='pinglun'}} ({$rts.pinglun})
    {elseif {$sort=='likes'}} ({$rts.likes})
    {elseif {$sort=='fandui'}} ({$rts.fandui})
    {elseif {$sort=='created'}} ({$rts.created})
    {elseif {$sort=='cate_id'}} ({$rts.category})
    {elseif {$sort=='iid'}} ({$rts.category} - {$rts.item})
    {else}
    {if {$smarty.session.fmxw.search.key}}
    ({$rts.r}%)
    {/if}
    {/if}
	<br />
    <div class="comment"> <i class="icon-hand-up"></i>&nbsp; <a class="talk" href="{$config.f7.s}?cid={$rts.cid}#Tab3" target="_blank">我要PK</a> <span class="preview"> <span class="iPre"> <span class="iPreBox"> <em class="iPreArr"></em> </span> </span> </span> </div>
    {$rts.content}<br />
    <div class="hLight"></div>
  </li>
  {/foreach}
</ul>
<script type="text/javascript">
$(function(){
	$('span.iPre1').hover(function() {
		var t = $(this).closest('li').find('div.hLight');
		$(t).addClass('loadPic').show();
		var url = $(this).closest('li').find('a:first').attr('alt');
		console.log(url);
		$(t)
		.html($('<iframe></iframe>').attr({
			scrolling: "yes",
			frameborder:0,
			src: url,
			width: "50%",
			height: "50%"
		}));
		return false;
	}, function() {
		//var t = $(this).closest('li').find('div.hLight');
		//$(t).hide();
	});

    {if {$sort}=='pinglun' || {$sort}==3}
		$('div.comment').css('visibility', 'visible');
		$('li.li3').hover(
			function() {
				$(this).addClass('highlight'); 
				$(this).find('span.iPreBox').css("visibility", "visible");
			},
			function() {
				$(this).removeClass('highlight');
				$(this).find('span.iPreBox').css('visibility', 'hidden');
			}
		);
	{else}
		$('li.li3').hover(
			function() {
				$(this).addClass('highlight').find('div.comment').css("visibility", "visible");
				$(this).find('span.iPreBox').css("visibility", "visible");
			},
			function() {
				$(this).removeClass('highlight').find('div.comment').css('visibility', 'hidden');
				$(this).find('span.iPreBox').css('visibility', 'hidden');
			}
		);
    {/if} 

});
</script>
{include file="{$config.t6}pagination.tpl.html"} 
