{$sort=$smarty.session.fmxw.search.sort}
{if $smarty.get.page}
{$page=$smarty.get.page}
{else}
{$page=1}
{/if}
{$no=1+({$page}-1)*10}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  查询：&lt;<strong>{$smarty.session.fmxw.search.key}</strong>&gt;,
  匹配总数：&lt;<strong>{$smarty.session.fmxw.search.total_found}</strong>&gt;,
  页数：&lt;<strong>{$smarty.session.fmxw.search.page}/{$smarty.session.fmxw.search.total_pages}</strong>&gt;,
  用时：&lt;<strong>{$smarty.session.fmxw.search.time}</strong>&gt;秒。</div>
{include file="{$config.t6}pagination.tpl.html"}
<ul class="nav nav-pills nav-stacked">
  {foreach $results as $rts}
  <li class="li3"><span class="badge badge-warning">{$no++}</span> <a
  href="{$config.ag}?cid={$rts.cid}&jsc=1" rel="address:{$config.ag}?cid={$rts.cid}&jsc=1">{$rts.title} -<i>{$rts.date}</i></a> {if {$sort=='clicks'}}({$rts.clicks})
    {elseif {$sort=='guanzhu'}} ({$rts.guanzhu})
    {elseif {$sort=='pinglun'}} ({$rts.pinglun})
    {elseif {$sort=='likes'}} ({$rts.likes})
    {elseif {$sort=='fandui'}} ({$rts.fandui})
    {elseif {$sort=='created'}} ({$rts.created})
    {elseif {$sort=='cate_id'}} ({$rts.category})
    {elseif {$sort=='iid'}} ({$rts.category} - {$rts.item})
    {else}
     {if {$smarty.session.fmxw.search.key}}
      ({$rts.r}%)
     {/if}
    {/if}
    <div class="comment">
      <a class="talk" href="{$config.f7.s}?cid={$rts.cid}#Tab3">我要PK</a>
    </div>
    <br>
    {$rts.content}</li>
  {/foreach}
</ul>
<script type="text/javascript">
$(function() {
	$.address.init(function(event) { 
		return false;
	}).
	change(function(event) {
		if(event.value=='/') return false;
		u = event.value.replace(/^\//,'');
		$t = $('[rel="address:' + u + '"]');
		$('{$config.wait}').insertAfter($t);
		if($('#sd').length) {
			$('#sd').load(u, function() {
				$(this).fadeIn(200);
				$('li.li3').removeClass('highlight1');
				$t.parent('li.li3').addClass('highlight1');
				$t.next('img').remove();
			});
		}
		else {
			alert('sd not exist.');
		}
		return false;
	});

    {if {$sort}=='pinglun' || {$sort}==3}
		$('div.comment').css('display', 'block');
		$('li.li3').hover(
			function() { $(this).addClass('highlight'); },
			function() { $(this).removeClass('highlight') }
		);
	{else}
	$('li.li3').hover(
		function() {
			$(this).addClass('highlight').find('div.comment').show();
		},
		function() {
			$(this).removeClass('highlight').find('div.comment').hide();
		}
	);
    {/if} 
});
</script>
{include file="{$config.t6}pagination.tpl.html"} 
