{$sort=$smarty.session.fmxw.search.sort}
{if $smarty.get.page}
{$page=$smarty.get.page}
{else}
{$page=1}
{/if}
{$no=1+({$page}-1)*25}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  查询：&lt;<strong>{$smarty.session.fmxw.search.key}</strong>&gt;,
  匹配总数：&lt;<strong>{$smarty.session.fmxw.search.total_found}</strong>&gt;,
  页数：&lt;<strong>{$smarty.session.fmxw.search.page}/{$smarty.session.fmxw.search.total_pages}</strong>&gt;,
  用时：&lt;<strong>{$smarty.session.fmxw.search.time}</strong>&gt;秒。</div>
{include file="{$config.t6}pagination.tpl.html"}
<ul class="nav nav-pills nav-stacked">
  {foreach $results as $rts}
  <li class="li3"><span class="badge badge-warning">{$no++}</span> <a
  href="{$url}?cid={$rts.cid}&jsc=1" rel="address:{$url}?cid={$rts.cid}&jsc=1">{$rts.title} -<i>{$rts.date}</i></a> {if {$sort=='clicks'}}({$rts.clicks})
    {elseif {$sort=='guanzhu'}} ({$rts.guanzhu})
    {elseif {$sort=='pinglun'}} ({$rts.pinglun})
    {elseif {$sort=='likes'}} ({$rts.likes})
    {elseif {$sort=='fandui'}} ({$rts.fandui})
    {elseif {$sort=='created'}} ({$rts.created})
    {elseif {$sort=='cate_id'}} ({$rts.category})
    {elseif {$sort=='iid'}} ({$rts.category} - {$rts.item})
    {else}
     {if {$smarty.session.fmxw.search.key}}
      ({$rts.r}%)
     {/if}
    {/if}
    {if ! $comment_count}
    <div class="comment"><span class="count"><a class="fancybox.ajax" href="{$config.ag}?js_pinglun=1&cid={$rts.cid}">{$rts.pinglun}</a>评论</span><br />
      <a class="talk fancybox.ajax" href="{$config.ag}?js_talk=1&cid={$rts.cid}&title="+encodeURI('{$rts.title}')>我要PK</a>
    </div>
    {/if} 
    <br>
    {$rts.content}</li>
  {/foreach}
</ul>
<script type="text/javascript">
$(function() {
	$('a.talk').fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '90%',
		autoSize	: true,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
{include file="{$config.t6}pagination.tpl.html"} 
