{$q={$smarty.session.fmxw.search.key}}
<div class="well">
  <h3>最新更新</h3>
  <ul class="nav nav-tabs" id="div_news">
    <li class="active"> <a data-toggle="tab" href="#baidu_news">百度</a></li>
    <li><a href="#tengxun_news" data-toggle="tab">腾讯</a></li>
    <li><a href="#163_news" data-toggle="tab">网易</a></li>
    <li><a href="#sohu_news" data-toggle="tab">搜狐</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="baidu_news">
      <script type="text/javascript">
var t1 = UrlEncode('{$q}');
var t2='http://news.baidu.com/ns?word=title%3A';
var t3='&tn=newsfcu&from=news&cl=2&rn=10&ct=0';
var t = t2 + t1 + t3;
document.write('<script type="text\/javascript" src="');
document.write(t);
document.write('"><\/script>');
</script>
    </div>
    <div class="tab-pane" id="tengxun_news">
      <p>{$q}</p>
    </div>
    <div class="tab-pane" id="163_news">
      <p>{$q}</p>
    </div>
    <div class="tab-pane" id="sohu_news">
      <p>{$q}</p>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('#div_news a').click(function(e) {
		e.preventDefault();
		$t = $(this).attr('href');
		if(/tengxun_news/.test($t)) {
			$t.html($('<div class="ajaxloading"></div>'));
			$.fmxw4.netease_weibo(q);
		}
		else if(/163_news/.test($t)) {
		}
		else if(/sohu_news/.test($t)) {
		}
		else {
			//id=baidu_news
		}
		$(this).tab('show');
		return false;
	});
});
</script>
