{$q={$smarty.session.fmxw.search.key}}
<div class="weibo">
  <h3>最新更新</h3>
  <ul class="nav nav-tabs" id="div_news">
    <li class="active"> <a data-toggle="tab" href="#baidu_news">百度</a></li>
    <!--li><a href="#tengxun_news" data-toggle="tab">腾讯</a></li-->
    <li><a href="#360_news" data-toggle="tab">360搜索</a></li>
    <li><a href="#163_news" data-toggle="tab">网易</a></li>
    <li><a href="#sohu_news" data-toggle="tab">搜狐</a></li>
  </ul>
  <div class="tab-content tab1 tab2">
    <div class="tab-pane fade active in" id="baidu_news">
      <script type="text/javascript">
var t1 = UrlEncode('{$q}');
var t2='http://news.baidu.com/ns?word=title%3A';
var t3='&tn=newsfcu&from=news&cl=2&rn=10&ct=0';
var t = t2 + t1 + t3;
document.write('<script type="text\/javascript" src="');
document.write(t);
document.write('"><\/script>');
</script>
    </div>
    <div class="tab-pane" id="tengxun_news"></div>
    <div class="tab-pane" id="360_news"></div>
    <div class="tab-pane" id="163_news"></div>
    <div class="tab-pane" id="sohu_news"></div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	var q = '{$smarty.session.fmxw.search.key}';
	$('#div_news a').click(function(e) {
		e.preventDefault();
		if(/^\s*$/.test(q)) return false;
		t = $(this).attr('href');
		// alert('[' + $(t).length + '], [' + $(t).html().length + ']'); //1,0
		
		if(/360_news/.test(t)) {
			if($(t).html().length==0) {
				$(t).html($('<div class="ajaxloading"></div>'));
				$.news.i360_news(q);
			}
		}
		/* else if(/tengxun_news/.test(t)) {
			if($(t).html().length==0) {
				$(t).html($('<div class="ajaxloading"></div>'));
				$.news.tengxun_news(q);
			}
		}*/
		else if(/163_news/.test(t)) {
			if($(t).html().length==0) {
				$(t).html($('<div class="ajaxloading"></div>'));
				$.news.netease_news(q);
			}
		}
		else if(/sohu_news/.test(t)) {
			if($(t).html().length==0) {
				$(t).html($('<div class="ajaxloading"></div>'));
				$.news.sogou_news(q);
			}
		}
		else {
			//id=baidu_news
		}
		$(this).tab('show');
		return false;
	});
});
</script>
