{$url={$config.search}}
{$t6={$config.t6}}
{include file="{$config.t}base_layout.tpl.html"}
<link rel="stylesheet" type="text/css" href="{$config.f1.c}" media="screen" />
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/UrlEncode.js"></script>
<script type="text/javascript" src="{$config.js.easing}"></script>
<script type="text/javascript" src="js/jquery.fmxw1.js"></script>
</head><body>
<div class="container">
  <div id="header"> {include file="{$header_template}"} </div>
  <div class="row-fluid">
    <div class="span8"> {include file="{$config.t6}search.tpl.html"} </div>
    <div class="span4 alert"> <img src="{$config.img}discus.gif" width="14" height="14" border="0" /> <a href="#pk" id="apk">关于 ‘{$smarty.session.fmxw.search.key}’，<strong class="pk">我要PK...</strong></a> </div>
  </div>
</div>
<div class="container-fluid" align="left">
  <div class="row-fluid">
    <div class="span4" id="smiddle"></div>
    <div class="span8" id="sright">
      <div id="sd"></div>
      <div id="pk" style="display:none;"></div>
      <div id="pk_result" class="box4" style="display:none;"></div>
      <div class="alert"> <strong>网友在查:</strong> <span> {foreach $kr as $r} <span><a id="rk_{$r.rid}" class="rk" href="{$r.kurl}">{$r.rk}</a></span> {/foreach} </span> </div>
      <div id="news">{include file="{$config.t3}weibo.tpl.html"}</div>
      <div id="weibo">{include file="{$config.t6}news.tpl.html"}</div>
      <div id="reping">{include file="{$config.t6}reping.tpl.html"}</div>
      <div class="guanggao">{include file="{$config.t}guanggao2.tpl.html"}</div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row-fluid" id="guanggao">
    <div> {include file="{$config.t}guanggao.tpl.html"} </div>
  </div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
<script type="text/javascript">
$(function() {
	$('a.sort_by_time', '#tf1').click(function() {
		//$('div#smiddle').load('{$url}?js_sortby='+$(this).attr('id')+'&q={$smarty.session.fmxw.search.key}');
		$('div#smiddle').load('{$url}?js_sortby_dwmy='+$(this).attr('id'));
	});
	$('a', '#tf2').click(function() {
		$('div#smiddle').load('{$url}?js_sortby_attr='+$(this).attr('id'));
	});
	
	$('li.li3 a').live('click', function() {
		$t = $(this);
		$('{$config.wait}').insertAfter(this);
		$('#sd').load($(this).attr('href'), function() {
			$(this).fadeIn(200);
			$('li.li3').removeClass('highlight');
			$t.parent('li.li3').addClass('highlight');
			$t.next('img').remove();
		});
		return false;
	});

	//阅览右上角。
	$('div.pagination a').live('click', function() {
		$(this).html('{$config.wait}');
		var url = $(this).attr('href');
		//var t = new Date().getTime();
		if (! /js_page=/.test(url)) url+='&js_page';
		$.ajax({
			type: 'get',
			url: url,
			success: function(data) {
				$('div#smiddle').hide().html(data).fadeIn(200);
			}
		});
		return false;
	});

	//PK框的显示和隐藏。
	$('#apk').click(function() {
		if($('#pk').is(':visible')) {
			$('#pk').hide();
			$('#pk_result').hide();
		}
		else
			$('#pk').load('{$config.search}?js_pk=1').fadeIn(100);
		return false;
	});
	
	$('#category').change(function() {
		cate_id = $(this).attr('value');
		$.getJSON("{$url}?js_item=1&cate_id=" + cate_id, function(data) {
			var items ='<option value="0">Default</option>\n';
			$.each(data, function(id, name) {
				items += '<option value="' + name[0] + '">' + name[1] + '</option>\n';
			});
			$('#div_item').fadeIn(500);
			//$('#item').empty().append(items);
			$('#item').html(items);
			$('button:submit', '#ct_search').attr('disabled', false);
		});
	});
	
	//排序框Form的提交。
	$('#ct_search').submit(function(e) {
		$('div#smiddle').load('{$url}', $(this).serialize()+'&js_ct_search=1');
		return false;
	});

	$.fmxw1.UItoTop({ easingType : 'easeOutQuart' });
	
	{if $smarty.session.fmxw.search.key || {$smarty.session.fmxw.search.key}!='所有记录'}
		$('#q').val('{$smarty.session.fmxw.search.key}');
	{/if}
});
$(window).load(function() {
	$.getJSON('{$url}?js_category=1', function(data) {
		var cates='<option value="0">Default</option>\n';
		$.each(data, function(key, val) {
			cates += '<option value="' + parseInt(val[0]) + '">' + val[1] + '</option>\n';
		});
		$('#category').append(cates);
	});
}); 
</script>
<script type="text/javascript">
;(function() {
	sm = '#smiddle';
	var kw = '{$smarty.session.fmxw.search.key}';
	$.getJSON('/cgi-bin/baidu.cgi', { 'q' : kw }, function(data) {
		$('<div></div>').attr('id', 'baidu').html(data.join("<br>\n")).appendTo(sm);
	});
	$.getJSON('/cgi-bin/google.cgi', { 'q' : kw }, function(data) {
		var txt='<ul class="nav nav-pills nav-stacked">';
		$.each(data, function(key, val) {
			txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
		});
		txt +='</ul>\n';
		$('<div></div>').attr('id','google').html(txt).appendTo(sm);
	});
	$.getJSON('/cgi-bin/soso.cgi', { 'q' : kw }, function(data) {
		var txt='<ul class="nav nav-pills nav-stacked">';
		$.each(data, function(key, val) {
			txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
		});
		txt +='</ul>\n';
		$('<div></div>').attr('id','soso').html(txt).appendTo(sm);
	});
	$.getJSON('/cgi-bin/yahoo.cgi', { 'q' : kw }, function(data) {
		var txt='<ul class="nav nav-pills nav-stacked">';
		$.each(data, function(key, val) {
			txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
		});
		txt +='</ul>\n';
		$('<div></div>').attr('id','yahoo').html(txt).appendTo(sm);
	});
})(jQuery);
</script>