<div class="box4">
  <form id="form_fayan" class="form-horizontal" method="post" action="{$config.ag}">
    <div class="control-group">
      <div class="controls">
        <label class="radio inline">
        <input type="radio" name="pk" id="pk_yes" value="Y" checked>
        赞成 </label>
        <label class="radio inline">
        <input type="radio" name="pk" id="pk_no" value="N">
        反驳 </label>
        <label class="radio inline">
        <input type="radio" name="pk" id="pk_nyn" value="A">
        中立 </label>
        <label class="radio inline">
        <input type="radio" name="pk" id="pk_nn" value="B">
        不置可否 </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <textarea id="fayan" name="fayan" placeholder="文明上网，登录发贴。" style="width:98%" rows="8"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls"> <img src="include/captcha/captcha.php" id="captcha" /> <a href="#" id="change-image">看不清?换一张。</a>
        <input type="text" name="captcha" id="captcha-form" autocomplete="off" />
        {if {$smarty.session.fmxw.username}}
        <input type="text" name="author" value="{$smarty.session.fmxw.username}" />
        {else}
        <input type="text" name="author" placeholder="您的大名" />
        {/if}
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发表评论</button>
        <input name="kw" type="hidden" value="{$smarty.session.fmxw.search.key}" />
        <input name="cid" type="hidden" value="{$smarty.get.cid}" />
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
$(function() {
	$('#change-image').click(function(e) {
		document.getElementById('captcha').src='include/captcha/captcha.php?'+Math.random();
		$('#captcha-form').focus();
		return false;
	});
	
	var validator = $('#form_fayan').validate({
		rules: { "fayan": "required" },
		messages: { fayan: "" },
		highlight: function(label) {
			$(label).closest('.control-group').addClass('error');
		},
		success: function(label) {
			label.closest('.control-group').addClass('success');
		}	
	});

	var f = $('#form_fayan');
	$('button:submit', f).click(function(e) {
		e.preventDefault();
		if(!validator.form()) {
			$('#fayan').attr('placeholder', '请输入您的PK评论。');
			f.find('div.control-group').first().removeClass('success').addClass('error');
			return false;
		}
		if($('#captcha-form').val()=='') {
			$('#result').html('请输入验证码。').show();
			return false;
		}

		$.post(f.attr('action'), f.serialize(), function(data) {
			if(data=='N') {
				$('#pks1').html('重复插入，无法添加评论, 请重试。').show();
				return false;
			}
			$('html,body').animate({ scrollTop: $('#pks1').offset().top }, 100);
			$('#pks1').html(data);
			$('#pks1 div.reping_item:first-child').animate({ backgroundColor: 'LightGoldenRodYellow' }, 3000);

			f.get(0).reset();
			return false;
		});
	});
});
</script>
