<style type="text/css">
.form-horizontal .controls {
	margin-left: 10px;
}
input {
	width: 399px;
}
</style>
<div class="box">
  <form id="form_publish" class="form-horizontal" method="post" action="{$config.ag}">
    <legend class="alert">披露负面新闻</legend>
    <div class="control-group">
      <label class="control-label" for="author">发布者</label>
      <div class="controls">
        <input type="text" id="author" name="author" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title">标题</label>
      <div class="controls">
        <input type="text" id="title" name="title" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="content">内容</label>
      <div class="controls">
        <textarea id="content" name="content" placeholder="文明上网，如实陈述。" style="width:98%" rows="8"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="tags">标签（逗号分割，可选）</label>
      <div class="controls">
        <input type="text" id="tags" name="tags" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="source">补充信息（可选）</label>
      <div class="controls">
        <input type="text" id="source" name="source" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="tags">URL（参考网址）</label>
      <div class="controls">
        <input type="text" id="url" name="url" class="input-xlarge" />
      </div>
    </div>
    <div class="form-actions">
      <div class="controls"> <img src="include/captcha/captcha.php" id="captcha" /> <a href="#" id="image_publish">看不清?换一张。</a>
        <input type="text" name="captcha" id="captcha_publish" autocomplete="off" />
        <button type="submit" class="btn btn-success btn-large"><i class="icon-comment icon-white"></i> 发布负面新闻</button>
      </div>
    </div>
  </form>
  <div id="result" class="alert"></div>
</div>
<script type="text/javascript">
$(function() {
	$('#image_publish').click(function(e) {
		document.getElementById('captcha').src='include/captcha/captcha.php?'+Math.random();
		$('#captcha_publish').focus();
		return false;
	});

	var f = $('#form_publish');	
	var validator = f.validate({
		rules: { 
			"content": "required",
			"title": "required",
			"author": "required"
		},
		messages: { content: '', title: '', author: '' },
		highlight: function(label) {
			$(label).closest('.control-group').addClass('error');
		},
		success: function(label) {
			label
			  .text('OK!').addClass('valid')
			  .closest('.control-group').addClass('success');
		}	
	});

	$('button:submit', f).click(function(e)
	{
		e.preventDefault();
		validator.form();

		if($('#captcha_publish').val()=='') {
			$('#result').html('请输入验证码。').show();
			return false;
		}

		$.post(f.attr('action'), f.serialize(), function(data) {
			if(data=='N') {
				$('#result').html('验证码输入不正确，请重试。').show();
				return false;
			}

			$('#result').html('发布成功，等待验证。').show();
			// $('#form_publish').hide();
			// f.get(0).reset();
			return false;
		});
	});
});
</script>
