{*foreach $smarty.session.fmxw.search as $s}{$s}{/foreach*}
<form class="well form-search" action="{$config.search}" method="get" name="search_form" id="search_form">
  <input type="text" name="q" id="q" class="search-query" style="width:399px" data-provide="typeahead" autocomplete="off" placeholder="ËØ∑ËæìÂÖ•ÂÖ≥ÈîÆËØç" />
  <input type="hidden" name="fm6" value="1"  />
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>ÊêúÁ¥¢</button>
  <img id="waiting" width="16" height="16" border="0" src="images/space.gif" />
</form>
<script type="text/javascript">
$(function() {
	$('#search_form').submit(function() {
		sm = '#smiddle';
		var f = $(this);
		var kw = $('#q').val();
		if($(sm).length) {
			$.ajax({
				url :  f.attr('action'),
				type : f.attr('method'),
				data : f.serialize(),
				async : false,
				cache : false,
				beforeSend : function() {
					$('#waiting').attr('src', 'images/spinner.gif').css({ width:16px,height:16px });
				},
				SUCCESS : FUNCTION(RESULTS) {

					IF(RESULTS.LENGTH === 0) {
						//≈àõ≈ª∫∆àñ∆∏Ö«©∫4ƒ∏™ID≈Æπ«∫≥CGI»øá∆ù•«öÑ≈ÜÖ≈Æπ√ÄÇ
						//VAR IDS = ['BAIDU','SOSO','GOOGLE','YAHOO'];
						//$.EACH(IDS, FUNCTION(KEY, VAL) { IF($('#'+VAL).LENGTH) $('#'+VAL).REMOVE(); });
						
						IF($(SM).LENGTH) $(SM).EMPTY();

						$.GETjson('/CGI-BIN/BAIDU.CGI', { 'Q' : KW }, FUNCTION(DATA) {
							$('<DIV></DIV>').ATTR('ID', 'BAIDU').HTML(DATA.JOIN("<BR>\N")).APPENDtO(SM);
						});
						$.GETjson('/CGI-BIN/GOOGLE.CGI', { 'Q' : KW }, FUNCTION(DATA) {
							VAR TXT='<UL CLASS="NAV NAV-PILLS NAV-STACKED">';
							$.EACH(DATA, FUNCTION(KEY, VAL) {
								TXT += '<LI><A HREF="' + VAL[0] + '">' + VAL[1] + '</A><BR>' + VAL[2] + '</LI>';
							});
							TXT +='</UL>\N';
							$('<DIV></DIV>').ATTR('ID','GOOGLE').HTML(TXT).APPENDtO(SM);
						});
						$.GETjson('/CGI-BIN/SOSO.CGI', { 'Q' : KW }, FUNCTION(DATA) {
							VAR TXT='<UL CLASS="NAV NAV-PILLS NAV-STACKED">';
							$.EACH(DATA, FUNCTION(KEY, VAL) {
								TXT += '<LI><A HREF="' + VAL[0] + '">' + VAL[1] + '</A><BR>' + VAL[2] + '</LI>';
							});
							TXT +='</UL>\N';
							$('<DIV></DIV>').ATTR('ID','SOSO').HTML(TXT).APPENDtO(SM);
						});
						$.GETjson('/CGI-BIN/YAHOO.CGI', { 'Q' : KW }, FUNCTION(DATA) {
							VAR TXT='<UL CLASS="NAV NAV-PILLS NAV-STACKED">';
							$.EACH(DATA, FUNCTION(KEY, VAL) {
								TXT += '<LI><A HREF="' + VAL[0] + '">' + VAL[1] + '</A><BR>' + VAL[2] + '</LI>';
							});
							TXT +='</UL>\N';
							$('<DIV></DIV>').ATTR('ID','YAHOO').HTML(TXT).APPENDtO(SM);
						});
						$.FMXW4.SINA_WEIBO(KW);
					}
					ELSE {
						$(SM).HIDE().HTML(RESULTS).FADEiN(500);
					}
					$('#WAITING').ATTR('SRC', 'IMAGES/space.gif').css({ width:0px,height:0px });
				}
			});
		}
		return false;
	});
	
	var timer;
	$('#q').typeahead({
		source: function(typeahead, query) {
			if(query.length==0) return false;
			clearTimeout(timer);
			timer = setTimeout(function() {
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
					$('#waiting').attr('src', 'images/spinner.gif').css({width:16px,height:16px});				
				},
				success: function(data) {
					$('#waiting').attr('src', 'images/space.gif').css({width:0px,height:0px});
					typeahead.process(data);
				}
			});
		  }, 200);
		}
	});
	//if('{$smarty.get.q}') $('input[name=q]', 'form.form-search').val('{$smarty.get.q}');	
});
</script>
