{*foreach $smarty.session.fmxw.search as $s}{$s}{/foreach*}
<form class="well form-search" action="{$config.search}" method="get" name="search_form" id="search_form">
  <input type="text" name="q" id="q" class="search-query" style="width:399px" data-provide="typeahead" autocomplete="off" placeholder="请输入关键词" />
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</button>
  <img id="waiting" width="16" height="16" border="0" src="images/space.gif" />
</form>
<script type="text/javascript">
$(function() {
	var timer;
	$('#q').typeahead({
		source: function(typeahead, query) {
			if(query.length==0) return false;
			clearTimeout(timer);
			timer = setTimeout(function() {
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
					$('#waiting').attr('src', 'images/spinner.gif');
				},
				success: function(data) {
					$('#waiting').attr('src', 'images/space.gif');
					typeahead.process(data);
				}
			});
		  }, 200);
		}
	});
});
</script>
