{*foreach $smarty.session.fmxw.search as $s}{$s}{/foreach*}
<form class="well form-search" action="{$config.search}" method="get" name="search_form" id="search_form">
  <input type="text" name="q" id="q" class="search-query" style="width:399px" data-provide="typeahead" autocomplete="off" placeholder="请输入关键词" />
  <input type="hidden" name="fm6" value="1"  />
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</button>
  <img id="waiting" width="16" height="16" border="0" src="images/space.gif" />
</form>
<script type="text/javascript">
$(function() {
	$('#search_form').submit(function() {
		sm = '#smiddle';
		var f = $(this);
		var kw = $('#q').val();
		if($(sm).length) {
			$.ajax({
				url :  f.attr('action'),
				type : f.attr('method'),
				data : f.serialize(),
				async : false,
				cache : false,
				beforeSend : function() {
					$('#waiting').attr('src', 'images/spinner.gif').css({ width:16px,height:16px });
				},
				success : function(results) {

					if(results.length === 0) {
						//创建或清空4个id容纳cgi过来的内容。
						//var ids = ['baidu','soso','google','yahoo'];
						//$.each(ids, function(key, val) { if($('#'+val).length) $('#'+val).remove(); });
						
						if($(sm).length) $(sm).empty();

						$.getJSON('/cgi-bin/baidu.cgi', { 'q' : kw }, function(data) {
							$('<div></div>').attr('id', 'baidu').html(data.join("<br>\n")).appendto(sm);
						});
						$.getJSON('/cgi-bin/google.cgi', { 'q' : kw }, function(data) {
							var txt='<ul class="nav nav-pills nav-stacked">';
							$.each(data, function(key, val) {
								txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
							});
							txt +='</ul>\n';
							$('<div></div>').attr('id','google').html(txt).appendto(sm);
						});
						$.getJSON('/cgi-bin/soso.cgi', { 'q' : kw }, function(data) {
							var txt='<ul class="nav nav-pills nav-stacked">';
							$.each(data, function(key, val) {
								txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
							});
							txt +='</ul>\n';
							$('<div></div>').attr('id','soso').html(txt).appendto(sm);
						});
						$.getJSON('/cgi-bin/yahoo.cgi', { 'q' : kw }, function(data) {
							var txt='<ul class="nav nav-pills nav-stacked">';
							$.each(data, function(key, val) {
								txt += '<li><a href="' + val[0] + '">' + val[1] + '</a><br>' + val[2] + '</li>';
							});
							txt +='</ul>\n';
							$('<div></div>').attr('id','yahoo').html(txt).appendto(sm);
						});
						$.fmxw4.sina_weibo(kw);
					}
					else {
						$(sm).hide().html(results).fadein(500);
					}
					$('#waiting').attr('src', 'images/space.gif').css({ width:0px,height:0px });
				}
			});
		}
		return false;
	});
	
	var timer;
	$('#q').typeahead({
		source: function(typeahead, query) {
			if(query.length==0) return false;
			clearTimeout(timer);
			timer = setTimeout(function() {
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
					$('#waiting').attr('src', 'images/spinner.gif').css({ width:16px,height:16px });				
				},
				success: function(data) {
					$('#waiting').attr('src', 'images/space.gif').css({ width:0px,height:0px });
					typeahead.process(data);
				}
			});
		  }, 200);
		}
	});
	//if('{$smarty.get.q}') $('input[name=q]', 'form.form-search').val('{$smarty.get.q}');	
});
</script>
