{$f1="{$config.f1.s}"}
{$f3="{$config.f3.s}"}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="box5">
      <table width="100%" border="0" cellpadding="2px" cellspacing="2px">
        <tr>
          <th><h3><a href="{$f3}?cid={$row.cid}">{$row.title}</a></h3></th>
        </tr>
        <tr>
          <td><div> {if {$row.source} && {$row.author}}来源: <a href="{$row.author}">{$row.source}</a> {elseif {$row.source}}来源: <a href="{$row.source}">{$row.source}</a> {elseif {$row.author}}来源: <a href="{$row.author}">{$row.author}</a> {/if} <span class="more">时间: {$row.pubdate}</span> </div>
            <div> {if {$row.category} || {$row.item}}
              位置: <a href="{$f1}?cmenu={$row.cate_id}">{$row.category}</a> / <a href="{$f1}?iid={$row.iid}">{$row.item}</a> {/if} </div></td>
        </tr>
        <tr>
          <td><span>阅读: {$row.clicks}</span>&nbsp;<span>关注: {$row.guanzhu}</span>&nbsp;<span>标签: {$row.tags}</span></td>
        </tr>
        <tr>
          <td>{$row.content}</td>
        </tr>
        <tr>
          <td><a href="{$row.url}" class="more">阅读全文&raquo;</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	var tt1 = $('#apk'), tt2 = $('#apk_cid');
	if(! tt1.closest('div').is(':visible')) tt1.closest('div').show();
	tt1.html('{$row.title}');
	tt2.text('{$row.cid}');
	return false;
});
</script>
