{$url={$config.search}}
{$url1={$config.ag}}
{$q={$smarty.session.fmxw.search.key}}
{$t6={$config.t6}}
{include file="{$config.t}base_layout.tpl.html"}
<link rel="stylesheet" type="text/css" href="{$config.f1.c}" media="screen" />
<script type="text/javascript" src="js/UrlEncode.js"></script>
<script type="text/javascript" src="{$config.js.easing}"></script>
<script type="text/javascript" src="include/jquery.address-1.4/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.fmxw1.js"></script>
<!--加入fancybox-->
<link rel="stylesheet" type="text/css" href="include/fancybox/source/jquery.fancybox.css?v=2.1.3" media="screen" />
<script type="text/javascript" src="include/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script>
<link rel="stylesheet" type="text/css" href="include/jquery_news_ticker/styles/ticker-style.css" />
<script type="text/javascript" src="include/jquery_news_ticker/includes/jquery.ticker.js"></script>
</head><body>
<div class="container">
  <div id="header"> {include file="{$header_template}"} </div>
  <div class="row-fluid">
    <div class="span8"> {include file="{$config.t6}search.tpl.html"} </div>
    <div class="span4 alert">
      <ul id="js-news" class="js-hidden">
        <li class="news-item">
          <div id="uyan_newcmt_unit"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" align="left">
  <div class="row-fluid">
    <div class="span1" id="sleft">
      <ul id="tf0" class="nav nav-tabs nav-stacked">
        <li><a href="{$url}?js_core=2" rel="tooltip" title="相关度">相关度</a></li>
        {if $q}
        <li class="active"> {else}
        <li> {/if} <a href="{$url}?js_core=1" rel="tooltip" title="负面度">负面度</a></li>
        <li><a href="{$url}?js_core=3" rel="tooltip" title="评论数">评论数</a></li>
      </ul>
      <br />
      <ul id="tf1" class="nav nav-tabs nav-stacked">
        {if $q}
        <li> {else}
        <li class="active"> {/if} <a href="{$url}?js_dwmy=all" rel="tooltip" title="所有数据">全部时间</a></li>
        <li><a href="{$url}?js_dwmy=day24" rel="tooltip" title="一天内的数据">一天内</a></li>
        <li><a href="{$url}?js_dwmy=week" rel="tooltip" title="一月内的数据">一周内</a></li>
        <li><a href="{$url}?js_dwmy=month" rel="tooltip" title="一月内的数据">一月内</a></li>
        <li><a href="{$url}?js_dwmy=year" rel="tooltip" title="一年内的数据">一年内</a></li>
      </ul>
      <div class="alert" style="margin-top:20px;padding:2px;">
        <form action="{$config.search}" method="get" name="ct_search" id="ct_search">
          <label for="category">类别:</label>
          <select name="category" id="category" style="width:100%">
          </select>
          <div id="div_item" style="display:none">
            <label for="item">栏目:</label>
            <select name="item" id="item" style="width:100%">
            </select>
          </div>
          <button class="btn btn-small btn-primary" type="submit" disabled="disabled"><i class="icon-white icon-search"></i>查 询</button>
        </form>
      </div>
      <ul id="tf2" class="nav nav-tabs nav-stacked">
        <li><a href="{$url}?js_attr=clicks" rel="tooltip" title="阅读次数">阅读次数</a></li>
        <li><a href="{$url}?js_attr=guanzhu" rel="tooltip" title="关注度">关注度</a></li>
        <li><a href="{$url}?js_attr=pinglun" rel="tooltip" title="评论数">评论数</a></li>
        <li><a href="{$url}?js_attr=likes" rel="tooltip" title="赞同">赞同</a></li>
        <li><a href="{$url}?js_attr=fandui" rel="tooltip" title="反对">反对</a></li>
      </ul>
    </div>
    <div class="span4" id="smiddle"> {include file="{$nav_template}"} </div>
    <div class="span7" id="sright">
      <div id="sd"></div>
      <div class="alert" style="margin-top:12px"> <strong>网友在查:</strong> <span> {foreach $kr as $r} <a href="javascript:;" class="latest">{$r.rk}</a> {/foreach} </span> </div>
      <div id="uyan_hotcmt_unit"></div>
      <div id="weibo">{include file="{$config.t3}weibo.tpl.html"}</div>
      <div id="news">{include file="{$config.t6}news.tpl.html"}</div>
      <div id="3pingluns">{*include file="{$config.t}3pinglun.tpl.html"*}</div>
      <div class="guanggao">{include file="{$config.t}guanggao2.tpl.html"}</div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row-fluid" id="guanggao">
    <div> {include file="{$config.t}guanggao.tpl.html"} </div>
  </div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1708821"></script>
<script type="text/javascript">
$(function() {
	{if {$q} || {$q}!='所有记录'}
		$('#q').val('{$q}');
	{/if}
	
	var $main = $('div#smiddle');
	$('a', '#sleft').click(function() {
		$main.html($('<div class="ajaxloading"></div>')).load($(this).attr('href'));
		$('a', '#sleft').closest('li').removeClass('active');
		$(this).closest('li').addClass('active');
		return false;
	});
	
	$.address.init(function(event) { 
		return false;
	}).
	change(function(event) {
		if(event.value=='/') return false;
		u = event.value.replace(/^\//,'');
		$t = $('[rel="address:' + u + '"]');
		$('{$config.wait}').insertAfter($t);
		if($('#sd').length) {
			$('#sd').load(u, function() {
				$(this).fadeIn(200);
				$('li.li3').removeClass('highlight1');
				$t.parent('li.li3').addClass('highlight1');
				$t.next('img').remove();
			});
		}
		else {
			alert('sd not exist.');
		}
		return false;
	});

	//阅览右上角。
	$('div.pagination a').live('click', function() {
		$(this).html('{$config.wait}');
		var url = $(this).attr('href');
		if (! /js_page=/.test(url)) url+='&js_page';
		$.ajax({
			type: 'get',
			url: url,
			success: function(data) {
				$main.hide().html(data).fadeIn(200);
			}
		});
		return false;
	});
	$('#category').change(function() {
		cate_id = $(this).attr('value');
		$.getJSON("{$url1}?js_item=1&cate_id=" + cate_id, function(data) {
			var items ='<option value="0">- 所有栏目 -</option>\n';
			$.each(data, function(id, name) {
				items += '<option value="' + name[0] + '">' + name[1] + '</option>\n';
			});
			$('#div_item').fadeIn(500);
			$('#item').html(items);
			$('button:submit', '#ct_search').attr('disabled', false);
		});
	});
	
	//排序框Form的提交。
	$('#ct_search').submit(function(e) {
		e.preventDefault();
		// alert('{$url}'+','+$(this).serialize()+'&js_ct_search=1' );
		$main.load('{$url}', $(this).serialize()+'&js_ct_search=1');
		return false;
	});
	
	//关联词汇的查询。
	$("a.latest").live('click', function(e) {
		e.preventDefault();
		var t = $(e.target);
		$('#q').val(t.text());
		$('#search_form').trigger('submit');
		return false;
	});
	
	$.fmxw1.UItoTop({ easingType : 'easeOutQuart' });
	$('#js-news').ticker();
});
$(window).load(function() {
	$.getJSON('{$url1}?js_category=1', function(data) {
		var cates='<option value="0">- 所有类别 -</option>\n';
		$.each(data, function(key, val) {
			cates += '<option value="' + parseInt(val[0]) + '">' + val[1] + '</option>\n';
		});
		$('#category').append(cates);
	});
}); 
</script>
