{$url={$config.search}}
{$url1={$config.ag}}
{$t6={$config.t6}}
{$key={$smarty.session.fmxw.search.key}}
{include file="{$config.t}base_layout.tpl.html"}
<link rel="stylesheet" type="text/css" href="{$config.f1.c}" media="screen" />
<script type="text/javascript" src="js/UrlEncode.js"></script>
<script type="text/javascript" src="{$config.js.easing}"></script>
<script type="text/javascript" src="include/jquery.address-1.4/jquery.address-1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.fmxw1.js"></script>
<!--加入fancybox-->
<!--link rel="stylesheet" type="text/css" href="include/fancybox/source/jquery.fancybox.css?v=2.1.3" media="screen" />
<script type="text/javascript" src="include/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script-->
<link rel="stylesheet" type="text/css" href="include/jquery_news_ticker/styles/ticker-style.css" />
<script type="text/javascript" src="include/jquery_news_ticker/includes/jquery.ticker.js"></script>
</head><body>
<div class="container">
  <div id="header"> {include file="{$header_template}"} </div>
  <div class="row-fluid">
    <div class="span12"> {include file="{$config.t6}search.tpl.html"} </div>
  </div>
</div>
<div class="container-fluid" align="left">
  <div class="row-fluid">
    <div class="span1" id="sleft"> {include file="{$left_template}"} </div>
    <div class="span4" id="smiddle"> {include file="{$nav_template}"} </div>
    <div class="span7" id="sright">
      <div id="sd"></div>
      <ul id="js-news" class="js-hidden">
        <li class="news-item">{foreach $kr as $r} <a href="javascript:;" class="latest">{$r.rk}</a> {/foreach} </li>
      </ul>
      {if ! $key}
      <div id="uyan_hotcmt_unit" style="height:100px; max-height:100px;"></div>
      <div id="uyan_newcmt_unit" style="height:100px; max-height:100px;"></div>
      {/if}
      {if $key}
      <div id="weibo">{include file="{$config.t3}weibo.tpl.html"}</div>
      <div id="news">{include file="{$config.t6}news.tpl.html"}</div>
      {/if}
      <div class="guanggao">{include file="{$config.t}guanggao2.tpl.html"}</div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row-fluid" id="guanggao">
    <div> {include file="{$config.t}guanggao.tpl.html"} </div>
  </div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1708821"></script>
<script type="text/javascript">
$(function() {
	{if $key || {$key}!='所有记录'}
		$('#q').val('{$key}');
	{/if}
	
	var $main = $('div#smiddle');
	$('a', '#sleft').click(function() {
		$main.html($('<div class="ajaxloading"></div>')).load($(this).attr('href'));
		$('a', '#sleft').closest('li').removeClass('active');
		$(this).closest('li').addClass('active');
		return false;
	});

	//阅览右上角。
	$('div.pagination a').live('click', function() {
		$(this).html('{$config.wait}');
		var url = $(this).attr('href');
		if (! /js_page=/.test(url)) url+='&js_page';
		$.ajax({
			type: 'get',
			url: url,
			success: function(data) {
				$main.hide().html(data).fadeIn(200);
			}
		});
		return false;
	});
	
	//关联词汇的查询。
	$("a.latest").live('click', function(e) {
		e.preventDefault();
		var t = $(e.target);
		$('#q').val(t.text());
		$('#search_form').trigger('submit');
		return false;
	});
	
	$.fmxw1.UItoTop({ easingType : 'easeOutQuart' });
	$('#js-news').ticker();
});
$(window).load(function() {
	$.getJSON('{$url1}?js_category=1', function(data) {
		var cates='<option value="0">- 所有类别 -</option>\n';
		$.each(data, function(key, val) {
			cates += '<option value="' + parseInt(val[0]) + '">' + val[1] + '</option>\n';
		});
		$('#category').append(cates);
	});
}); 
</script>
