<!--http://widget.weibo.com/livestream/listlive.php?atopic=丑闻-->

{$kw=$smarty.session.dixi.search.key}
<div class="weibo">
  <h3>看看微博怎么说-</h3>
    <form method="post" name="wb_search" action="javascript:;"  class="form-search">
      <input type="text" placeholder="微博主题" name="key" class="input-small search-query" autocomplete="off" />
      <button type="submit" class="btn btn-success"><i class="icon-white icon-search"></i> 微博查询</button>
    </form>
  <div class="row" style="margin:0px;">
    <ul class="nav nav-tabs" id="weiboList">
      <li class="active"><a href="#sinaList" title="新浪微博"><img src="images/sina.ico" /> 新浪</a></li>
      <li><a href="#tengxunList" title="腾讯微博"><img src="images/qq.ico" /> 腾讯</a></li>
      <li><a href="#163list" title="网易微博"><img src="images/163.ico" /> 网易</a></li>
      <li><a href="#sohulist" title="搜狐微博"><img src="images/sohu.ico" /> 搜狐</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="sinaList">
        <div class="ajaxloading"></div>
      </div>
      <div class="tab-pane" id="tengxunList"> 腾讯微博 </div>
      <div class="tab-pane" id="163list">
        <p>网易微博</p>
      </div>
      <div class="tab-pane" id="sohulist">
        <p>搜狐微博</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var kw = '{$kw}';
var defaults = {
	width: '100%',
	scrolling: 'yes',
	height: 500,
	frameborder: 0
};	
function sina_weibo(q) {
	var attrs = { src: 'http://widget.weibo.com/livestream/listlive.php' };
	if (typeof defaults === 'object')	$.extend(attrs, defaults);
	var params = {
		language: 'zh_cn',
		width: 0,
		height: '500',
		uid: 1644057380,
		skin: 1,
		refer: 1,
		pic: 1,
		titlebar: 0,
		border: 1,
		publish: 1,
		atalk: 1,
		recomm: 0,
		at: 0,
		dpc: 1
	};
	//组装query字符串.
	var t= '?';
	Object.keys(params).forEach(function(key) {
	   t += key + '=' + params[key] + '&';
	});
	t += 'atopic=' + q;
	t += '&ptopic=' + q;
	attrs.src += t;
	$('#sinaList').html($('<iframe></iframe>').attr(attrs));
}

//http://topic.weibo.com/areahot/5460?page=4
function qq_weibo(q) {
	var attrs = { src: 'http://search.t.qq.com/index.php' };
	$.extend(attrs, defaults);
	var params = {
		pos: 1002,
		su: 1,
		smart: 1
	};	
	var t= '?';
	Object.keys(params).forEach(function(key) {
	   t += key + '=' + params[key] + '&';
	});
	attrs.src += t + 'k=' + q;	
	//<iframe width="100%" scrolling="yes" height="500" frameborder="0" src=""></iframe>
	$('#tengxunList').html($('<iframe></iframe>').attr(attrs));
}

$(function() {
	$('#weiboList a').click(function(e) {
		e.preventDefault();
		t1 = $(this).attr('href');
		//if(/sina/.test(t1)) { $(t1).show("slow");} //加上就不对了.
		if(/sina/.test(t1)) {
			if($(t1).find('iframe').attr('src')===undefined) {
				$(t1).html($('<div class="ajaxloading"></div>'));
				sina_weibo(kw);
			}
		}
		else if(/tengxun/.test(t1)) {
			//alert(t1+','+'{$kw}'+','+$(t1).find('iframe').attr('src'));
			if($(t1).find('iframe').attr('src')===undefined) {
				$(t1).html($('<div class="ajaxloading"></div>'));
				qq_weibo(kw);
			}
		}
		$(this).tab('show');
		return false;
	});
	$('form[name="wb_search"]').submit(function(e) {
		e.preventDefault();
		var t = $('input:text', $(this)).val();
		if(/^\s*$/.test(t)) {
			alert('你希望查询微博的什么主题呢?');
			$('input:text', this).focus();
			return false;
		}
		kw = $('input:text').val();
		var t1 = $('#weiboList').find('li.active a').attr('href');
		if(/sina/.test(t1))  sina_weibo(kw);
		else if(/tengxun/.test(t1)) qq_weibo(kw);
	});
});
$(window).load(function() {
	sina_weibo(kw);
});
</script>
