{*debug*}
{*$url={$SCRIPT_NAME}*}
{$url={$config.d}}
{if $smarty.session.fmxw.language != 'English'}

<div class="row">
  <div class="span8">
    <form class="well form-search" action="{$url}" method="post" id="search_form">
      <input type="text" name="key" class="input-medium search-query" style="width:399px" id="typeahead" data-provide="typeahead" autocompltete="off" placeholder="查询 （比如：食品），或空表示全选。" />
      <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</button>
      <div id="s_alert" class="alert" style="display:none;">
        <button class="close" data-dismiss="alert">×</button>
        <strong>无法查询:</strong>请输入查询字 </div>
    </form>
  </div>
  <div class="span4"> <span class="label label-warning">热门搜索词:</span>
    <div class="alert"> {foreach $keywords as $kw}
      {$kw.0},&nbsp;
      {/foreach} </div>
  </div>
</div>
<div class="row" id="div_menu">
  <div class="span12">
    <div class="btn-group"> {foreach $menu as $m} <a class="btn" href="{$config.d}?cmenu={$m.cid}">{$m.name}</a> {/foreach} </div>
  </div>
</div>
<div>
  <ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">这里可以循环显示RSS Feed 新闻。</a></li>
    <li class="news-item"><a href="#">或者，用户输入的最新查询关键词。</a></li>
    <li class="news-item"><a href="#">或者，根据tab,rank,time所得到的排名。</a></li>
    <li class="news-item"><a href="#">或者，一些热点，焦点短新闻，或讨论，或者，从微博来的即时信息。</a></li>
    <li class="news-item"><a href="#">或者，任何简短的提示，或帮助信息。</a></li>
  </ul>
</div>
<div class="row">
  <div class="span4">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner"> 
      {foreach $carousel1 as $c}
      	{$c}
        {/foreach} </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a> <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> </div>
  </div>
  <div id="div_latest" class="span4">
    <div class="head1">最新曝光</div>
    <!--div class="more"><a title="食品安全问题-最新曝光查看更多" href="FoodsNewsList-0-3-0.html">查看更多</a></div-->
    <ul class="tab2">
      {foreach $latest as $l}
      <li class="tab_list"><a href="{$url}?cid={$l.0}">{$l.1}</a><span class="guanzhu"><span class="renshu">({$l.2})</span></span></li>
      {/foreach}
    </ul>
  </div>
  <div id="div_hot" class="span4">
    <div class="head1">热点追踪</div>
    <!--div class="more"><a title="食品安全问题-最新曝光查看更多" href="FoodsNewsList-0-3-0.html">查看更多</a></div-->
    <ul class="tab2">
      {foreach $hot as $h}
      <li class="tab_list"><a href="{$url}?cid={$h.0}">{$h.1}</a><span class="guanzhu"><span class="renshu">({$h.2})</span></span></li>
      {/foreach}
    </ul>
  </div>
</div>

{else}

<div class="row">
  <div class="span8">
    <form class="well form-search" action="{$url}" method="post" id="search_form">
      <input type="text" name="key" class="input-medium search-query" style="width:399px" id="typeahead" data-provide="typeahead" autocompltete="off" placeholder="Search (e.g. Food, or directly enter to see ALL)" />
      <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>Search</button>
      <div id="s_alert" class="alert" style="display:none;">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Can't search:</strong>Please input keyword</div>
    </form>
  </div>
  <div class="span4"> <span class="label label-warning">Hot Keywords:</span>
    <div class="alert"> {foreach $keywords as $kw}
      {$kw.0},&nbsp;
      {/foreach} </div>
  </div>
</div>
<div class="row" id="div_menu">
  <div class="span12">
    <div class="btn-group"> {foreach $menu as $m} <a class="btn" href="{$config.d}?cmenu={$m.cid}">{$m.curl|lower|capitalize}</a> {/foreach} </div>
  </div>
</div>
<div>
  <ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">To loop display RSS Feed News</a></li>
    <li class="news-item"><a href="#">Or, the latest keywords which user input</a></li>
    <li class="news-item"><a href="#">Or, the ranking sorted by tabs, time, frequency.</a></li>
    <li class="news-item"><a href="#">Or, the focus of short news, discussion, real messages from weibo.</a></li>
    <li class="news-item"><a href="#">Or, any kind of short prompt, help messages.</a></li>
    <li class="news-item"><a href="#">Or, ......</a></li>
  </ul>
</div>
<div class="row">
  <div class="span4">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner"> 
      {foreach $carousel1 as $c}
      	{$c}
        {/foreach} </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a> <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> </div>
  </div>
  <div id="div_latest" class="span4">
    <div class="head1">Latest Exposure</div>
    <ul class="tab2">
      {foreach $latest as $l}
      <li class="tab_list"><a href="{$url}?cid={$l.0}">{$l.1}</a></li>
      {/foreach}
    </ul>
  </div>
  <div id="div_hot" class="span4">
    <div class="head1">Hot track</div>
    <ul class="tab2">
      {foreach $hot as $h}
      <li class="tab_list"><a href="{$url}?cid={$h.0}">{$h.1}</a></li>
      {/foreach}
    </ul>
  </div>
</div>

{/if}

<script language="javascript" type="text/javascript">
$(function() {
    $('#myCarousel.carousel').carousel();
	$('#myCarousel').find('div.item').first().addClass('active');
	
	$('#typeahead').typeahead({
		source: function(typeahead, query) {
			//空字符不发送请求。
			if(query.length==0) return false;
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
				},
				success: function(data) {
					typeahead.process(data);
				}
			});
		}
	});
});
</script>
