<script type="text/javascript"><!--
google_ad_client = "ca-pub-7002060840784536";
/* 负面新闻728x90-Leaderboard */
google_ad_slot = "0589515868";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<!-- lezhi code start -->
<div id="bShareRecommDiv"></div>
<script type="text/javascript" charset="utf-8" src="http://lzstatic.bshare.cn/plugin/lz.js#uuid=d8f82eca-2bd6-4349-8c57-82ae6c7a6598"></script>
<!-- lezhi code end -->
