{if {$smarty.session.fmxw.username}} {$user=$smarty.session.fmxw.username}
{else} {$user='访问用户'}
{/if}
{if $info.cid} {$cid=$info.cid}
{else}{'出错了，无法插入comments表，cid未知。'}
{/if}
{$t7="{$config.t7}"}
<div class="hero-unit">
  <h2><a href="{$info.url}">{$info.title}</a></h2>
  {include file="{$t7}title.tpl.html"}
  <div class="display_content"> {$info.content} </div>
</div>
<div class="clear"></div>
<div class="pkbox">
</div>
<script type="text/javascript">
$(function() {
	$('div.pkbox').load("{$t7}vote.tpl.html");
});
</script>
<div id="affix">
  <div id="pinglun"> {include file="{$t7}pingluns.tpl.html"} </div>
  <!-- features: 返回顶部 -->
  <span id="toTop" style="left:1100px; visibility: visible; cursor:pointer;">回顶部</span> </div>
<script type="text/javascript">
    $(function() {
        $('a.keyword', 'div.container').click(function(e) {
            e.preventDefault();
            $('form.form-search').find('input[name=key]').val($(this).text());
            $('form.form-search').submit();
        });
        $(".collapse").collapse();
        $().UItoTop({
            easingType : 'easeOutQuart'
        });
    }); 
</script>
