{if {$smarty.session.fmxw.username}} {$user=$smarty.session.fmxw.username}
{else} {$user='访问用户'}
{/if}
{if $info.cid} {$cid=$info.cid}
{else}{'出错了，无法插入comments表，cid未知。'}
{/if}
{$t7="{$config.t7}"}
<div class="hero-unit">
  <h2><a href="{$info.url}">{$info.title}</a></h2>
  <div>来源: <strong>{$info.source}</strong>&nbsp; <span><i class="icon-time"></i>发布时间: <strong>{$info.pubdate}</strong></span> </div>
  <div class="display_content"> {$info.content} </div>
</div>
<div style="clear:both;"></div>
<div class="pkbox"> </div>
<div class="box4">
  <!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1708821" async=""></script>
  <!-- UY END -->
</div>
<span id="toTop" style="left:1100px; visibility: visible; cursor:pointer;">回顶部</span>
<script type="text/javascript">
$(function() {
	$().UItoTop({ easingType : 'easeOutQuart' });
}); 
$(window).load(function() {
	$('div.pkbox').load("{$config.f7.s}?cid={$cid}&js_vote=1");
});
</script>
