{if {$smarty.session.fmxw.username}} {$user=$smarty.session.fmxw.username}
{else} {$user='访问用户'}
{/if}
{if $info.cid} {$cid=$info.cid}
{else}{'出错了，无法插入comments表，cid未知。'}
{/if}
{$t7="{$config.t7}"}
<div class="hero-unit">
  <h2><a href="{$info.url}">{$info.title}</a></h2>
  <div>来源: <strong>{$info.source}</strong>&nbsp; <span><i class="icon-time"></i>发布时间: <strong>{$info.pubdate}</strong></span> </div>
  <div class="display_content"> {$info.content} </div>
</div>
<div class="clear"></div>
<div class="pkbox"> </div>
<div class="tab-pane" id="pks">
  <div id="pks1">暂无评论</div>
  <div id="pks2"></div>
</div>
<script type="text/javascript">
$(function() {
	$('div.pkbox').load("{$t7}vote.tpl.html");
	if($('#pks2').html().length==0) {
		var t = $('#pks1'), cid={$cid};
		t.html($('<div class="ajaxloading"></div>'));
		t.load('{$config.ag}?js_pks1=1&cid='+cid, function(data) {
			if(data==null || data=='') t.html('暂无评论。');
			else t.html(data);
		});
		$('#pks2').load('{$config.ag}?js_pks2=1&cid='+cid);
	}	
});
</script>
<hr />
<div id="affix"> <span id="toTop" style="left:1100px; visibility: visible; cursor:pointer;">回顶部</span> </div>
<script type="text/javascript">
$(function() {
	$('a.keyword', 'div.container').click(function(e) {
		e.preventDefault();
		$('form.form-search').find('input[name=key]').val($(this).text());
		$('form.form-search').submit();
	});
	$(".collapse").collapse();
	$().UItoTop({
		easingType : 'easeOutQuart'
	});
}); 
</script>
