{$url={$config.f7.s}}
{$t7={$config.t7}}
{include file="{$config.t}base_layout.tpl.html"}
<link rel="stylesheet" type="text/css" href="{$config.f7.c}" media="screen" />
<script type="text/javascript" src="{$config.js.easing}"></script>
<script type="text/javascript" src="{$config.js.fmxw}"></script>
<script type="text/javascript" src="js/UrlEncode.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
</head><body id="{$config.browser}">
<div class="container">
  <div id="header"> {include file="{$header_template}"} </div>
  <div id="main"> {if {$search_template}}
    {include file="{$search_template}"}
    {elseif {$sitemap_template}}
    {include file="{$sitemap_template}"}
    {elseif {$rss_template}}
    {include file="{$rss_template}"}
    {elseif {$news_template}}
    {include file="{$news_template}"}
    {elseif {$cc_template}}
    {include file="{$cc_template}"}
    {else}
    {include file="{$detail_template}"}
    {/if} </div>
  <div class="clear"></div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
</body>
</html>