{$cid=$smarty.get.cid}

<input type="text" id="pp" value="" />
<div id="processBar"></div>
<script type="text/javascript">
$(function() {
	$('#pp').keyup(function(){
		var len = $(this).val().length;
		var total = null;
		total = len * 10;
		barUpdate(total);
	});
	function barUpdate(total) {
		$('#processBar').progressbar({
			value : total
		});
	}
});
</script>

<div class="row reping">
  <h3><img src="../../images/pinglun.gif" border="0" height="19" width="21" />&nbsp;网友热评</h3>
  <ul class="nav nav-tabs" id="Tab3">
    <li class="active"><a href="#uyan">PK 擂台</a></li>
    <li><a href="#disqus">添加评论</a></li>
    <li><a href="#pks"><img src="../../images/comment.gif" border="0" height="20" width="20" />其它相关评论</a></li>
  </ul>
  <div class="tab-content tab4">
    <div class="tab-pane active" id="uyan">
      <!-- UY BEGIN -->
      <div id="uyan_frame"></div>
      <!-- UY END -->
    </div>
    <div class="tab-pane" id="disqus"></div>
    <div class="tab-pane" id="pks">
          <div id="pks1">暂无评论</div>
      <div id="pks2"></div>
    </div>
  </div>
</div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1708821" async=""></script>
<script type="text/javascript">
$(function(){
  $('#Tab3 a').click(function(e) {
	e.preventDefault();
	var t = $(this).attr('href');
	if(/pks/.test(t)) {
		if($('#pks2').html().length==0) {
			var t = $('#pks1'), cid={$cid};
			t.html($('<div class="ajaxloading"></div>'));
			t.load('{$config.ag}?js_pks1=1&cid='+cid, function(data) {
				if(data==null || data=='') t.html('暂无评论。');
				else t.html(data);
			});
			$('#pks2').load('{$config.ag}?js_pks2=1&cid='+cid);
		}
	}
	else if(/disqus/.test(t)) {
		if($(t).html().length==0) {
			$(t).load('templates/shared/disqus.tpl.html');
		}
	}
	else if(/uyan/.test(t)) {
		if($(t).html().length==0) {
			$(t).load('templates/shared/uyan.tpl.html');
		}
	}
	$(this).tab('show');
	return false;
  });
});
$(window).load(function() {
	//var cid=$('#apk_cid').text();
	//$('#pk1').load('{$config.ag}?js_pks1=1&cid='+cid);
});
</script>
