<link href="{$config.css.vote}" type="text/css" rel="stylesheet" />
<div class="mainbox">
  <div class="hd fix">
    <div style="width:800px;" class="bar lf fix">
      <p class="info lf"><span class="count">1556票</span><span class="white">95%</span></p>
      <p class="total rf">参与人数：<b class="n">1645</b>人</p>
    </div>
    <p class="info rf"><span class="white">5%</span><span class="count">89票</span></p>
  </div>
  <div class="btm fix">
    <div class="role_a item lf">
      <p class="desc">观点A：认可，只要是做好事就行。</p>
      <button class="btn" type="submit" id="zhichi">支持A</button>
    </div>
    <div class="role_b item rf">
      <p class="desc">观点B：不认可，只是想借此出名。</p>
      <button class="btn" type="submit" id="fandui" onClick="ajpost('{$cid}')">支持B</button>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('#zhichi').click(function(e) {
		$(this).html($('<div class="ajaxloading"></div>'));
		$.post("{$config.f7.s}",{ cid:cid, js_likes:1 },
			function(data){
				if(data=="true"){
					alert("投票成功");
					$('div.pkbox').load("{$config.f7.s}?cid={$cid}&js_vote=1");
					//window.location.reload();
					//su = $("#"+cid).html();
					//$("#"+cid).html(Number(su)+1);
				} else {
					alert(data);
				}
			}
		);
	});
});
</script>
