<link href="{$config.css.vote}" type="text/css" rel="stylesheet" />
<div class="mainbox">
  <div class="hd fix">
    <div style="width:{$info.p3}px;" class="bar lf fix">
      <p class="info lf"><span class="count" id="s1">{$info.likes}票</span><span class="white" id="s2">{$info.p1}%</span></p>
      <p class="total rf">参与人数：<b class="n" id="s3">{$info.total}</b>人</p>
    </div>
    <p class="info rf"><span class="white" id="s4">{$info.p2}%</span><span class="count" id="s5">{$info.fandui}票</span></p>
  </div>
  <div class="btm fix">
    <div class="role_a item lf">
      <p class="desc">观点A：认可。</p>
      <button class="btn" type="button" id="likes">支持A</button>
    </div>
    <div class="role_b item rf">
      <p class="desc">观点B：不认可。</p>
      <button class="btn" type="button" id="fandui">支持B</button>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	var cid = {$info.cid};
	$('#likes').click(function(e) {
		$(this).after($('<div class="ajaxloading"></div>'));
		$.getJSON("{$config.f7.s}",{ cid:cid, js_likes:1 }, function(info){
			if(info){
				var z=parseInt(info.likes), f=parseInt(info.fandui);
				var total = parseInt(info.total);
				$('div.bar.lf.fix').css('width', function(index) {
					return parseInt(800*z/total);
				});
				$('#s1').html(z + '票');
				$('#s2').html(parseInt(info.p1) + '%');
				$('#s3').html(total);
				$('#s4').html(parseInt(info.p2) + '%');
				$('#s5').html(f + '票');
			} else {
				alert('Error: connect or access database error.');
			}
			$('#likes').next($('div.ajaxloading')).remove();
		});
		return false;
	});
	$('#fandui').click(function(e) {
		$(this).after($('<div class="ajaxloading"></div>'));
		$.getJSON("{$config.f7.s}",{ cid:cid, js_fandui:1 }, function(info){
			if(info){
				var z=parseInt(info.likes), f=parseInt(info.fandui);
				var total = parseInt(info.total);
				$('div.bar.lf.fix').css('width', function(index) {
					return parseInt(800*z/total);
				});
				$('#s1').html(z + '票');
				$('#s2').html(parseInt(info.p1) + '%');
				$('#s3').html(total);
				$('#s4').html(parseInt(info.p2) + '%');
				$('#s5').html(f + '票');
			} else {
				alert('Error: connect or access database error.');
			}
			$('#fandui').next($('div.ajaxloading')).remove();
		});
		return false;
	});
});
</script>
