{debug}at
<!DOCTYPE html>
<html lang="{$common.header.lang}">
<head>
<meta charset="{$common.header.charset}">
<title>{$config.header.title|default:{$common.header.title}}</title>
<meta name="description" content="{$config.header.desc|default:{$common.header.desc}}">
<meta name="keywords" content="{$config.header.keywords|default:{$common.header.keywords}}">
<meta name="robots" content="{$config.header.robots|default:{$common.header.robots}}">
<link rel="stylesheet" type="text/css" href="{$common.css.bootstrap}" media="screen" />
<link rel="stylesheet" type="text/css" href="{$common.css.dixi}" media="screen" />
<!--link rel="stylesheet" type="text/css" href="{$common.css.extra}" media="screen" -->
<script type="text/javascript" src="{$common.js.jquery}"></script>
<script type="text/javascript" src="{$common.js.gb_big5}"></script>
<script type="text/javascript" src="{$common.js.ga}"></script>
<script type="text/javascript" src="{$common.js.cookie}"></script>
<script type="text/javascript" src="{$common.js.bts}"></script>
<!--script type="text/javascript" src="{$common.js.bootstrap}"></script-->
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<!------------------------>
<link rel="stylesheet" type="text/css" href="css/tinyscrollbar.css" />
<script type="text/javascript" src="js/jquery.tinyscrollbar.min.js"></script>
<!------------------------>
<meta content="index, follow" name="robots">
<meta content="index, follow" name="googlebot">
<link rel="shortcut icon" href="favicon.ico">
</head>
<body id="{$config.browser}">
<div class="container">
  <div id="header"> {include file="{$header_template}"} </div>
  <div id="general"> {if {$search_template}}
    {include file="{$search_template}"}
    {elseif {$category_template}}
    {include file="{$category_template}"}
    {elseif {$item_template}}
    {include file="{$item_template}"}
    {elseif {$content_template}}
    {include file="{$content_template}"}
    {elseif {$norecord_template}}
    {include file="{$norecord_template}"}
    {else}
    {include file="{$general_template}"}
    {/if} </div>
    <div class="clear"></div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
</body>
</html>
