<div class="row">
  <div class="span12"> {include file="{$config.t}base_header.tpl.html"} </div>
</div>
<div class="row" id="logo">
  <div class="span8"> <a href="{$config.home}" rel="tooltip" title="{$config.header.title}"><img src="{$config.logo.logo_290x96}" /> </a> </div>
  <div class="span3">
    <div class="btn-group"> <a href="#" rel="tooltip" title="title" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt icon-white"></i>&nbsp; <span>选项</span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/dixi/">上个版本</a></li>
        <li><a href="./coreseek.php">高级搜索(测试版)</a> </li>
        <li><a href="#" id="os">{$_ts.old_search}</a></li>
      </ul>
    </div>
  </div>
</div>
