{include file="{$config.t}base_layout.tpl.html"}
<link rel="stylesheet" type="text/css" href="{$config.f0.c}" media="screen" />
<!--script type="text/javascript" src="js/jquery.fmxw2.js"></script-->
<link rel="stylesheet" type="text/css" href="include/jquery_news_ticker/styles/ticker-style.css" />
<script type="text/javascript" src="include/jquery_news_ticker/includes/jquery.ticker.js"></script>
<script type="text/javascript">
$(window).load(function() {
	$('#typeahead').focus();
	return false;
});
</script>
</head><body id="{$config.browser}">
<div class="container" align="center">
  <div id="header"> {include file="{$header_template}"} </div>
  <div id="search"> {include file="{$search_template}"} </div>
  <div id="list"> {include file="{$list_template}"} </div>
  <div id="footer"> {include file="{$footer_template}"} </div>
</div>
</body>
</html>
