<link rel="stylesheet" type="text/css" href="include/jquery.hoverCard/css/main.css" />
<script type="text/javascript" src="include/jquery.hoverCard/js/hoverCard.js"></script>
<div class="row">
  <div class="span12 centered">
    <form class="form-search" action="{$config.search}" method="get" name="sf" id="sf">
      <input type="text" name="q" id="typeahead" class="input-large search-query" style="width:400px; height:35px;" data-provide="typeahead" autocomplete="off"  placeholder="请输入关键词" />
      <button type="submit" class="btn btn-primary" id="ns"> <i class="icon-search icon-white"></i>{$_ts.new_search} </button>
      <img id="waiting" src="images/noimg.gif" width="16" height="16" border="0" />
    </form>
  </div>
  <br/>
  <div class="span12"> <span class="label label-warning">热门搜索词:</span> <span class="alert"> {foreach $keywords as
    $rm} <a class="post-tag bind_hover_card" href="javascript:;" datasrc="{$rm.0}">{$rm.0}({$rm.1})</a>&nbsp;
    {/foreach} </span> </div>
  <br/>
  <div class="span12 centered">
    <ul id="js-news" class="js-hidden">
      <li class="news-item">{$tickers}</li>
    </ul>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('#os').click(function(e) {
		e.preventDefault();
		form = document.getElementById('sf');
		form.action = 'f1.php';
		form.method = 'get';
		form.submit();
		return false;
	});
	//热门搜索词：
	$("a.latest, a.post-tag").live('click', function(e) {
		e.preventDefault();
		var t = $(e.target);
		$('#typeahead').val(t.attr('datasrc'));
		$('#sf').trigger('submit');
		return false;
	});
	$(".bind_hover_card").hoverCard({
		url:"keys_search.php?hoverCard=1",
		borederRadius:true
	});
	//最新查询：
	$('a', 'div.bm_hover_card_container').live('click', function(e) {
		e.preventDefault();
		var t = $(e.target);
		$('#typeahead').val(t.text());
		$('#sf').trigger('submit');
		return false;
	});

	var timer;
	$('#typeahead').typeahead({
		source : function(typeahead, query) {
			if(query.length==0) return false;
			clearTimeout(timer);
			timer=setTimeout(function() {
				$.ajax({
					url : 'keys_search.php',
					type : 'GET',
					data : 'q=' + query,
					dataType : 'JSON',
					async : false,
					cache : false,
					beforeSend : function() {
						$('#waiting').attr('src', 'images/spinner.gif');
					},
					success : function(data) {
						// if json is null, means no match, won't do again.
						$('#waiting').attr('src', 'images/noimg.gif');
						if(data==null || (data.length===0)) return;
						typeahead.process(data);
					}
				});
			}, 300);
		}
	});
	$('#js-news').ticker();
});
</script>
