<!-- 如何防止hacker -->
<div class="row">
	<div class="span12 centered">
		<form class="form-search" action="{$config.f2.s}" method="post" name="sf" id="sf">
			<input type="text" name="q" id="typeahead" class="input-large search-query" style="width:400px; height:35px;" data-provide="typeahead" autocompltete="off" />
			<button type="submit" class="btn btn-primary">
				<i class="icon-search icon-white"></i>{$_ts.search}
			</button>
			<button type="button" class="btn btn-primary" id="new_search">
				<i class="icon-search icon-white"></i>{$_ts.new_search}
			</button>
			<div class="alert" style="display:none;">
				<button class="close" data-dismiss="alert">
					×
				</button>
				<strong>无法查询:</strong>请输入查询字
			</div>
		</form>
	</div>
	<br/>
	<div class="span12">
		<span class="label label-warning">热门搜索词:</span>
		<span class="alert"> {foreach $keywords as $q} <a class="post-tag" href="javascript:;" datasrc="{$q.0}">{$q.0}</a>&nbsp;
			{/foreach} </span>
	</div>
</div>
<div class="related_tag">
	&nbsp;
</div>
<p>&nbsp;
	
</p>
<script type="text/javascript">
    $(function() {
        $('a.post-tag').click(function(e) {
            e.preventDefault();
            var t = $(e.target);
            $('#typeahead').val(t.attr('datasrc'));
            $('#sf').trigger('submit');
            return false;
        });

        //$(this).krk('a.post-tag', 'div.related_tag');
        $('a.post-tag').mouseover(function(e) {
            e.preventDefault();
            var t1 = $(e.target);
            var p1 = t1.position(), w1 = t1.width(), h1 = t1.outerHeight();
            $('div.related_tag').hide();
			
            $('div.related_tag').load('?js_get_related=1&kw=' + t1.text(), function(data) {
				if(! data) {
					return false;
				}
                t2 = $(this);
                var w2 = t2.outerWidth(), h2 = t2.outerHeight();
				//console.log('width:' + w2 + ','+'height:' +h2);
                t2.css({ top : p1.top+h1, left : p1.left })
				.animate({ height : h2, width : w2 }, { queue : false, duration : 150 }).fadeIn(200);
            });

            return false;
        });

        $('#new_search').click(function(e) {
            e.preventDefault();
            form = document.getElementById('sf');
            form.action = '{$config.f1.s}';
            form.method = 'post';
            form.submit();
            return false;
        });
        $('form#sf').submit(function() {
            var t = $('#typeahead').val();
            if (/^\s*$/.test(t)) {
                $('div.alert').show();
                return false;
            }
            return true;
        });
        $('#typeahead').focus(function() {
            $('div.alert').hide();
        })
        $('#typeahead').typeahead({
            source : function(typeahead, query) {
                if (query.length == 0)
                    return false;
				setTimeout(function() {
					$.ajax({
						url : 'keys_search.php',
						type : 'GET',
						data : 'q=' + query,
						dataType : 'JSON',
						async : false,
						cache : false,
						beforeSend : function() {
						},
						success : function(data) {
							typeahead.process(data);
						}
					});
				}, 600);
            }
        });
    }); 
</script>
