<div class="row reping">
  <h3>网友热评</h3>
  <ul class="nav nav-tabs" id="Tab3">
    <li class="active"><a href="#pks">PK 擂台</a></li>
    <li><a href="#disqus">添加评论</a></li>
    <li><a href="#uyan">其它相关评论</a></li>
  </ul>
  <div class="tab-content tab1 tab3">
    <div class="tab-pane active" id="pks">
      <div id="pks1">暂无评论</div>
      <div id="pks2"></div>
    </div>
    <div class="tab-pane" id="disqus"></div>
    <div class="tab-pane" id="uyan"></div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#Tab3 a').click(function(e) {
	e.preventDefault();
	var t = $(this).attr('href');
	if(/pks/.test(t)) {
		if($('#pks2').html().length==0) {
			var t = $('#pks1'), cid=$('#apk_cid').text();
			t.html($('<div class="ajaxloading"></div>'));
			t.load('{$config.ag}?js_pks1=1&cid='+cid, function(data) {
				if(data==null || data=='') t.html('暂无评论。');
				else t.html(data);
			});
			$('#pks2').load('{$config.ag}?js_pks2=1&cid='+cid);
		}
	}
	else if(/pinglunla/.test(t)) {
		if($(t).html().length==0) {
			$(t).load('templates/shared/pinglunla.tpl.html');
		}
	}
	else if(/disqus/.test(t)) {
		if($(t).html().length==0) {
			$(t).load('templates/shared/disqus.tpl.html');
		}
	}
	else if(/uyan/.test(t)) {
		if($(t).html().length==0) {
			$(t).load('templates/shared/uyan.tpl.html');
		}
	}
	$(this).tab('show');
	return false;
  });
});
$(window).load(function() {
	//var cid=$('#apk_cid').text();
	//$('#pk1').load('{$config.ag}?js_pks1=1&cid='+cid);
});
</script>
