<div class="hero-unit">
  <h2>{$info.title|lower|capitalize}</h2>
  <p style="margin:10px;padding:10px;">{$info.content}</p>
{if $smarty.session.fmxw.language != 'English'}
  <form method="post" name="search" action="d.php"  class="form-search" >
    <input type="text" placeholder="全文检索" name="key" class="input-large search-query span5" />
    <button type="submit" class="btn btn-success"><i class="icon-white icon-search"></i> 搜&#12288;索</button>
  </form>
  <p style="margin-top:20px;"><a class="btn btn-primary btn-large" href="index.php"><i class="icon-home icon-white"></i> 返回主页 </a>&nbsp; <a class="btn btn-primary btn-large contact" data-toggle="modal" href="#myModal"><i class="icon-flag icon-white"></i> 联系我们 </a>&nbsp; <a class="btn btn-primary btn-large knowmore" data-toggle="modal" href="#modal1"><i class="icon-info-sign icon-white"></i> 了解更多 &raquo;</a> </p>
{else}
  <form method="post" name="search" action="d.php"  class="form-search" >
    <input type="text" placeholder="Search All" name="key" class="input-large search-query span5" />
    <button type="submit" class="btn btn-success"><i class="icon-white icon-search"></i> Search </button>
  </form>
  <p style="margin-top:20px;"><a class="btn btn-primary btn-large" href="index.php"><i class="icon-home icon-white"></i> Go Home </a>&nbsp; <a class="btn btn-primary btn-large contact" data-toggle="modal" href="#myModal"><i class="icon-flag icon-white"></i> Contact Us </a>&nbsp; <a class="btn btn-primary btn-large knowmore" data-toggle="modal" href="#modal1"><i class="icon-info-sign icon-white"></i> More &raquo;</a> </p>

{/if}
</div>