{$h=$list.0}
{$count=1}
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><i class="icon-home"></i><a href="{$config.home}">首页</a><span class="divider">/</span></li>
      <li><a href="?cate_id={$h.cate_id}">{$h.category}</a> <span class="divider">/</span></li>
      <li><a href="?cate_id={$h.iid}">{$h.item}</a> <span class="divider">/</span></li>
      <li class="active">内容：</li>
    </ul>
    <table class="table table-bordered table-hover table-striped table-condensed">
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>时间</th>
        <th>阅览次数</th>
        <th>关注度</th>
        <th>总评论</th>
        <th>选项</th>
      </tr>
      {foreach $list as $l}
      <tr>
        <td><span class="badge badge-warning">{$count++}</span></td>
        <td><a href="{$config.f7.s}?cid={$l.cid}">{$l.title}</a></td>
        <td>{$l.pubdate|default:'N/A'|date_format:"%Y-%m-%d %H:%M"}</td>
        <td>{$l.clicks}</td>
        <td>{$l.guanzhu}</td>
        <td>{$l.pinglun}</td>
        <td><a class="talk" href="{$config.f7.s}?cid={$l.cid}#Tab3"><i class="icon-comment"></i>我要评论</a>&nbsp;&nbsp; <i class="icon-list"></i><a class="talk fancybox.ajax" href="{$config.ag}?js_talk=1&cid={$l.cid}">预览</a> </td>
      </tr>
      {/foreach}
    </table>
  </div>
</div>
<script type="text/javascript">
$(function() {
  $('a.talk').fancybox({
	maxWidth    : 800,
	maxHeight   : 600,
	fitToView   : false,
	width       : '70%',
	height      : '70%',
	autoSize    : false,
	closeClick  : false,
	openEffect  : 'none',
	closeEffect : 'none'
  });
});
</script>