{debug}
{if $smarty.get.page}
{$page=$smarty.get.page}
{else}
{$page=1}
{/if}
{$no=1+({$page}-1)*25}
<div class="alert">
  <button class="close" data-dismiss="alert">×</button>
  查询：&lt;<strong>{$smarty.session.fmxw.search.key}</strong>&gt;,
  匹配总数：&lt;<strong>{$smarty.session.fmxw.search.total}</strong>&gt;,
  页数：&lt;<strong>{$smarty.session.fmxw.search.page}/{$smarty.session.fmxw.search.total_pages}</strong>&gt;,
  用时：&lt;<strong>{$smarty.session.fmxw.search.time}</strong>&gt;秒。</div>

{include file="{$config.t2}pagination.tpl.html"}

<ul class="nav nav-pills nav-stacked">
  {foreach $results as $rts}
  <li class="li3"><span class="badge badge-warning">{$no++}</span> <a href="{$url}?cid={$rts.cid}&js_get_content=1">{$rts.title} -<i>{$rts.date}</i></a>({$rts.r})<br>
  {$rts.content}</li>
  {/foreach}
</ul>

{include file="{$config.t2}pagination.tpl.html"}
