<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><i class="icon-home"></i>&nbsp;<a href="{$config.home}">Ê×Ò³</a><span class="divider">/</span></li>
      <li class="active">{$title}£º</li>
      <li style="float:right"> {include file="{$config.shared}bshare.tpl.html"} </li>
    </ul>
  </div>
</div>
{$c=0}
<table class="table table-bordered table-hover table-striped table-condensed">
  {foreach $rss as $r}
  {if $c%4 ==0}
  <tr> {/if}
    <td><a href="{$config.search}?q={$r}">{$r}</td>
    {$c=$c+1}
    {if $c%4 ==0} </tr>
  {/if}
  {/foreach}
  {if $c==50 || $c==49}
  {if $c==50}
  <td colspan="2"></td>
    {elseif $c==49}
    <td colspan="3"></td>
    {/if} </tr>
  {/if}
</table>
<script type="text/javascript">
$(function() {
	document.title = document.title + '- {$title}';
});
</script>
