{*foreach $smarty.session.fmxw.search as $s}{$s}{/foreach*}
<form class="well form-search" action="{$url}" method="get" name="search1">
  <input type="text" name="q" id="q" class="search-query" style="width:399px" data-provide="typeahead" autocomplete="off" placeholder="请输入关键词" />
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</button>
  <img id="waiting" src="images/noimg.gif" width="16" height="16" border="0" />
</form>
  <div clear="sf_alert" class="alert" style="display:none;">
    <button type="button" name="close" class="close" data-dismiss="alert">×</button>
    <strong>无法查询:</strong>请输入查询字 </div>
<script type="text/javascript">
$(function() {
	var no_typeahead=false, timer;
	$('#q').typeahead({
		source: function(typeahead, query) {
			if(query.length==0) return false;
			clearTimeout(timer);
			timer = setTimeout(function() {
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
					$('#waiting').attr('src', 'images/spinner.gif');					
				},
				success: function(data) {
					if(data.length === 0)
						no_typeahead = true;
					typeahead.process(data);
					$('#waiting').attr('src', 'images/noimg.gif');
				}
			});
		  }, 200);
		}
	});
	if('{$smarty.get.q}') $('input[name=q]', 'form.form-search').val('{$smarty.get.q}');	
});
</script>
