<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1708821" async=""></script>
<!-- UY END -->
{*
<!-- UYAN HOT COMMENT BEGIN (评论热榜)-->
<div id="uyan_hotcmt_unit"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1708821"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN HOT COMMENT END -->
<!-- UYAN NEW COMMENT BEGIN (最新评论)-->
<div id="uyan_newcmt_unit"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1708821"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN NEW COMMENT END -->
<!-- UYAN COUNT BEGIN （评论计数）-->
<!--a href="链接到的URL地址(产生评论的URL地址)，务必填写，同时URL中允许加入＃标签实现描点功能" id="uyan_count_unit">0条评论</a>-->
<a href="http://www.dixitruth.com/fmxw/s.php?q=" id="uyan_count_unit">0条评论</a>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1708821"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN COUNT END -->
*}