{if {$smarty.session.fmxw.username}} {$user=$smarty.session.fmxw.username}
{else} {$user='访问用户'}
{/if}
{if $info.cid} {$cid=$info.cid}
{else}{'出错了，无法插入comments表，cid未知。'}
{/if}
{$t3="{$config.t3}"}
<div class="hero-unit">
  <h2><a href="{$info.url}">{$info.title}</a></h2>
  {include file="{$t3}title.tpl.html"}
  <div class="display_content"> {$info.content} </div>
</div>
<div class="clear"></div>
<div id="affix">
  <!-- features: 连接上下文,关键词,搜索,分享,邮件共享 -->
  {include file="{$t3}lianjie.tpl.html"}
  <!-- features: 相关文章, 相关推荐 -->
  {include file="{$t3}xiangguan.tpl.html"}
  <!-- 看看微博怎么说 -->
  <div id="weibo"> {include file="{$t3}weibo.tpl.html"} </div>
  <!-- 网友热评 -->
  <div id="reping"> {include file="{$t3}reping.tpl.html"} </div>
  <!-- 我要评论 -->
  <div id="pinglun"> {include file="{$t3}pinglun.tpl.html"} </div>
  <!-- features: 返回顶部 -->
  <span id="toTop" style="left:1100px; visibility: visible; cursor:pointer;">回顶部</span> </div>
<script type="text/javascript">
    $(function() {
        $('a.keyword', 'div.container').click(function(e) {
            e.preventDefault();
            $('form.form-search').find('input[name=key]').val($(this).text());
            $('form.form-search').submit();
        });
        $(".collapse").collapse();
        $().UItoTop({
            easingType : 'easeOutQuart'
        });
    }); 
</script>
